///////////////////////////////////////////////
///////////// variables
///////////////////////////////////////////////

$color-grey: #9c9c9c;
$color-grey-light: #aabfc5;
$color-blue-dark: #2e9ad7;
$color-blue: #6194ab;
$color-blue-light: #aadae5;
$color-yellow: #ffaa0e;
$color-crimson: #ff3c72;
$color-crimson-light: #ff6b4c;
$color-dark: #333;
$color-brown: #cbb996;

$font-title-large: 70px;
$font-title-medium: 40px;
$font-title-small: 28px;

$font-XXXL: 26px;
$font-XXL: 24px;
$font-XL: 22px;
$font-M: 20px;
$font-S: 18px;
$font-XS: 16px;
$font-XXS: 14px;


