/*********************************************
*********** general
**********************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include font-main;
  line-height: 1;
  color: $color-text-dark;
}

a,
button {
  transition: .4s;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

button {
  background: none;
  border: none;
}

a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  @include font-main;
  font-size: $font-XL;
  color: $color-grey-light;
  opacity: 1;
}

input::-moz-placeholder {
  @include font-main;
  font-size: $font-XL;
  color: $color-grey-light;
  opacity: 1;
}

input:-moz-placeholder {
  @include font-main;
  font-size: $font-XL;
  color: $color-grey-light;
  opacity: 1;
}

input:-ms-input-placeholder {
  @include font-main;
  font-size: $font-XL;
  color: $color-grey-light;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

main {
  display: block;
  width: 100%;
  flex-grow: 1;
}

h1 {
  @include font-decor-bold;
  font-size: $font-title-large;
  color: #fff;
  line-height: 83px;
}

h2 {
  @include font-decor;
  font-size: $font-title-medium;
  color: $color-crimson;
  text-align: center;
  margin: 0 0 65px;
}

section {
  padding: 100px 0;
}

.button {
  display: block;
  padding: .5em 1.5em;
  border-radius: 2em;
  line-height: 1;
  @include font-decor-bold;
  color: #fff;
  font-size: $font-XL;

  &.button-white {
    background: #fff;
    color: $color-crimson;
    border: 2px solid $color-light;

    &:hover {
      background: $color-light;
    }

  }

  &.button-crimson {
    background: linear-gradient(to right, $color-crimson, $color-crimson-light);

    &:hover {
      background: linear-gradient(to left, $color-crimson, $color-crimson-light);
    }

  }

  &.button-yellow {
    background: $color-yellow;
    border: 2px solid $color-yellow;

    &:hover {
      background: #fff;
      color: $color-yellow;
    }

  }

}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

}

@media(max-width: 575px) {

}