extends ../layout/main

block title
    | Main page

block content
    include ../modules/top-main
    include ../modules/advantages
    include ../modules/products
    include ../modules/mailing
    include ../modules/clients
    include ../modules/reviews