/*********************************************
*********** clients
**********************************************/

.clients {
  background: #fff;

  h2 {
    color: $color-grey;
    text-align: left;
    margin: 0 0 10px;
  }

}

.slider-clients {
  width: calc(100% + 30px);
  margin: 0 -15px;

  .slide {
    margin: 0 15px;

    img {
      width: 100%;
    }

  }

}

.clients-header {
  @include font-decor-light;
  padding: 0 0 0 35px;
  height: 100%;
  border-left: 3px solid $color-yellow;
}

.clients-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: #fff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: $color-yellow;
  box-shadow: 0 0 0 3px $color-yellow;
  cursor: pointer;

  i {
    font-size: $font-L;
    color: inherit;
    transition: .4s;
  }

  &.clients-control-prev {
    padding: 0 3px 0 0;
    margin: 0 15px 0 0;
  }

  &.clients-control-next {
    padding: 0 0 0 3px;
  }

  &:hover {
    background: #fff;
    color: $color-yellow;
  }

  &:active {
    color: #000;
  }

}

@media(max-width: 1199px) {

  .clients {

    h2 {
      font-size: $font-XL;
    }

  }

}

@media(max-width: 991px) {

  .clients {
    padding-bottom: 0;
  }

}

@media(max-width: 767px) {

  .clients {
    text-align: center;
    padding-bottom: 50px;

    h2 {
      text-align: inherit;
      margin: 0 0 20px;
    }

  }

  .clients-header {
    padding: 0;
    border-left: none;
    margin: 0 0 20px;
  }

}

@media(max-width: 575px) {

}