/*********************************************
*********** footer
**********************************************/

footer[role='contentinfo'] {
  display: block;
  width: 100%;
  flex-grow: 1;
}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

}

@media(max-width: 575px) {

}