/*********************************************
*********** header
**********************************************/

header[role='banner'] {
  display: block;
  width: 100%;
  padding: 35px 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: .6s;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: block;
  height: 130px;
  transition: .6s;
  order: 1;

  img {
    width: auto;
    height: 100%;
    transition: .6s;
  }

  &:hover {
    opacity: 0.7;
  }

}

.phone {
  padding: 0 0 0 50px;
  position: relative;
  order: 3;

  &:hover {

    i {
      left: 5px;
    }

    a,
    span {
      text-shadow: 0 0 1px #fff;
    }

  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    font-size: $font-L;
    color: $color-blue-light;
    position: absolute;
    left: 0;
    top: 0;
    transition: .4s;
  }

  a {
    font-size: $font-L;
    color: #fff;
    @include font-decor-bold;

    &:hover {
      color: $color-blue-medium;
      text-shadow: 0 0 1px $color-blue-medium;
    }

  }

  span {
    display: block;
    font-size: $font-XXS;
    @include font-decor;
    color: #fff;
    margin: 10px 0 0 0;
    transition: .4s;
  }

}

header[role='banner'].fixed {
  position: fixed;
  padding: 10px 0;
  background: rgba(0, 0, 0, .5);

  .logo {
    height: 70px;
  }

}

nav {
  order: 2;
}

.burger {
  display: none;
  order: 4;
}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {

  .header-content {
    flex-wrap: wrap;
  }

  .logo {
    order: 1;
  }

  .phone {
    order: 2;
  }

  .burger {
    order: 3;
  }

  nav {
    order: 4;
  }

}

@media(max-width: 767px) {

}

@media(max-width: 575px) {

}