/*********************************************
*********** mailing
**********************************************/

.mailing {
  background: linear-gradient(to right, $color-crimson, $color-crimson-light);

  h2 {
    @include font-decor-bold;
    color: #fff;
    margin: 0 0 35px;
  }

  p {
    color: #fff;
    text-align: center;
    margin: 10px 0 0;
    font-size: $font-XS;
    line-height: 22px;
  }

}

.form-mailing {

  button[type='submit'] {
    padding: .5em 0;
    width: 100%;
  }

}

@media(max-width: 767px) {

  button[type='submit'] {
    margin: 15px 0 0 0;
  }

}