/*********************************************
*********** top-block
**********************************************/

.top-main {
  background: url(../images/background-top.jpg) no-repeat left top;
  background-size: cover;
  padding: 200px 0;
  overflow: hidden;
  position: relative;
  text-align: center;

  h1,
  h4 {
    left: auto!important;
    top: auto!important;
    bottom: auto!important;
    right: auto!important;
  }

}

.decor-cloud {
  width: 297px;
  height: 241px;
  background: url(../images/image-cloud-small.png) no-repeat 0 0;
  position: absolute;

  &:nth-of-type(1) {
    right: 1590px!important;
    top: 85px!important;
    left: auto!important;
    bottom: auto!important;
  }

  &:nth-of-type(2) {
    background: url(../images/image-cloud.png) no-repeat 0 0;
    width: 357px;
    height: 273px;
    left: calc(50% - 600px)!important;
    top: 140px!important;
    right: auto!important;
    bottom: auto!important;
  }

  &:nth-of-type(3) {
    left: 1600px!important;
    top: -45px!important;
    right: auto!important;
    bottom: auto!important;
  }

}

.decor-clouds-bottom {
  width: 1920px;
  height: 398px;
  background: url(../images/background-clouds.png) no-repeat 0 0;
  position: absolute;
  left: 0!important;
  bottom: -225px!important;
  top: auto!important;
  right: auto!important;
}

.decor-baloons {
  width: 347px;
  height: 539px;
  background: url(../images/image-baloons.png) no-repeat 0 0;
  background-size: 100% 100%;
  position: absolute;
  left: 1320px!important;
  bottom: auto!important;
  top: 140px!important;
  right: auto!important;
}

.top-short {
  background: url(../images/background-top.jpg) no-repeat left top;
  background-size: cover;
  padding: 150px 0 100px;
  overflow: hidden;
  position: relative;
  text-align: center;

  .decor-cloud {

    &:nth-of-type(2) {
      display: none!important;
    }

  }

}

.top-thanks {
  padding: 200px 0 275px;
}

.thanks-note {
  position: relative!important;
  margin: 20px 0 0;
  font-size: $font-L;
  @include font-decor-bold;
  color: #fff;
}

@media(max-width: 1600px) {

  .decor-baloons {
    width: 258px;
    height: 400px;
    left: 1100px!important;
    top: 200px!important;
  }

}

@media(max-width: 767px) {

  .top-main {
    padding: 175px 0;
  }

  .top-thanks {
    padding: 150px 0 120px;
  }

}

@media(max-width: 575px) {

  .top-main {
    padding: 150px 0;
  }

}