section.advantages
    .container
        .row
            div(class='col-12 col-md-4')
                .advantage-icon
                    img(src='images/image-advantage-1.png' alt='advantage')
                h3 Zamów w 2 minuty
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. blandit sed diam.
            div(class='col-12 col-md-4')
                .advantage-icon
                    img(src='images/image-advantage-2.png' alt='advantage')
                h3 Szybka dostawa
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. blandit sed diam.
            div(class='col-12 col-md-4')
                .advantage-icon
                    img(src='images/image-advantage-3.png' alt='advantage')
                h3 Latają 3 dni
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. blandit sed diam.