section.contacts
    .container
        .row
            .col-12
                h2 Dane kontaktowe:
        .row
            .col-12
                a(href='mailto:info@balonowabajka.pl' class='contacts-email')
                    i(class='fa fa-envelope-o')
                    span info@balonowabajka.pl
            .col-12
                a(href='tel:+48575150487' class='contacts-phone')
                    i(class='fa fa-phone')
                    span +48575150487
            .col-12
                address(class='contacts-address')
                    i(class='fa fa-map-marker')
                    span CH Maxim  Jerzego Siwińskiego 2, 05-120 Legionowo
        .row
            .col-12
                .on-map
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.886691787877!2d20.919227415967214!3d52.39060435356277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eb821b225914d%3A0x316efa2e8b3f8c2!2sDH+Maxim!5e0!3m2!1sru!2sru!4v1506976240155" allowfullscreen)