section.discount
    .discount-image
        img(src='images/image-truck.png' alt='discount')
    h2
        != 'Zamów na 50zł i otrzymaj <span>darmową dostawę*</span>'
    a(href='#catalog' class='button button-yellow') Do katałogu
    .discount-note  * w promieniu 7 km