footer(role='contentinfo')
    .container
        div(class='row justify-content-between align-items-stretch')
            div(class='col-12 col-md-6 col-lg-3')
                a(href='mailto:info@balonowabajka.pl' class='footer-email')
                    i(class='fa fa-envelope-o')
                    span info@balonowabajka.pl
                a(href='tel:+48575150487' class='footer-phone')
                    i(class='fa fa-phone')
                    span +48575150487
                address(class='footer-address')
                    i(class='fa fa-map-marker')
                    span ul.Siwińskiego 2
            div(class='col-12 col-md-6 col-lg-3')
                span.footer-data OLOKA Sp. z o. o.
                span.footer-data 05-110 Jablonna
                span.footer-data NIP 5361921273
                span.footer-data REGON 363044387
            div(class='col-12 col-lg-3')
                include ../modules/social-links
                .developer
                    span Realizacja:
                    a(href='') MX Studio