header(role='banner')
    .container
        .row
            div(class='col-12 d-flex align-items-center justify-content-between')
                a(href='index.html' class='logo')
                    img(src='images/image-logo.png' alt='balonowa bajka')
                include ../modules/nav
                .phone
                    i(class='fa fa-phone')
                    a(href='tel:+48575150487') 575 150 487
                    span.working-hours Godz pracy: Pn-Nd 10-20
                .burger
                    .burger-top
                    .burger-center
                    .burger-bottom