section.mailing
    .container
        div(class='row justify-content-center')
            div(class='col-12 col-lg-10')
                h2
                    != 'Odbierz 10% rabatu na pierwsze zakupy! <br>Zapisz się na newsletter!'
        div(class='row justify-content-center')
            div(class='col-12 col-md-10 col-lg-8')
                form(action='php/mailing.php' class='form-mailing' id='form-mailing')
                    .row
                        div(class='col-12 col-md-8')
                            label
                                input(type='email' name='mailing-email' id='mailing-email' placeholder='Wpisz swój e-mail')
                                i(class='fa fa-envelope-o')
                        div(class='col-12 col-md-4')
                            button(type='submit' class='button button-yellow') Zapisz się
                        div(class='col-12 text-center mt-3')
                            p.text-white Dowiedz się pierwszy o promocjach swiatecznych oraz kodach rabatowych