section(class='products products-short' id='products')
    .container
        .row
            .col-12
                h2 Poleczmy również
        div(class='row align-items-stretch')
            div(class='col-12 col-sm-6 col-md-4 col-lg-3 py-4')
                            .product-item
                                .product-cost 55zl
                                .product-image
                                    img(src='images/image-product-1.jpg' alt='product')
                                    .product-preview-wrapper
                                        button(class='button button-white product-to-preview') Zobacz
                                h3
                                    a(href='#') ŚWINKA PEPPA
                                button(class='button button-crimson product-to-order') Zamów
            div(class='col-12 col-sm-6 col-md-4 col-lg-3 py-4')
                            .product-item
                                .product-cost 55zl
                                .product-label top
                                .product-image
                                    img(src='images/image-product-2.jpg' alt='product')
                                    .product-preview-wrapper
                                        button(class='button button-white product-to-preview') Zobacz
                                h3
                                    a(href='#') ŚWINKA PEPPA
                                button(class='button button-crimson product-to-order') Zamów
            div(class='col-12 col-sm-6 col-md-4 col-lg-3 py-4')
                            .product-item
                                .product-cost 55zl
                                .product-label top
                                .product-image
                                    img(src='images/image-product-1.jpg' alt='product')
                                    .product-preview-wrapper
                                        button(class='button button-white product-to-preview') Zobacz
                                h3
                                    a(href='#') ŚWINKA PEPPA
                                button(class='button button-crimson product-to-order') Zamów
            div(class='col-12 col-sm-6 col-md-4 col-lg-3 py-4')
                            .product-item
                                .product-cost 55zl
                                .product-label top
                                .product-image
                                    img(src='images/image-product-2.jpg' alt='product')
                                    .product-preview-wrapper
                                        button(class='button button-white product-to-preview') Zobacz
                                h3
                                    a(href='#') ŚWINKA PEPPA
                                button(class='button button-crimson product-to-order') Zamów