section.products
    .container
        .row
            .col-12
                h2 Wybierz swój balonik
        .row
            .col-12
                .product-filter
                    div(class='product-filter-item category-1') foliowe
                    .product-filter-item gumowe
                    .product-filter-item litetry
                    .product-filter-item cyfry
                    .product-filter-item giganty
                    .product-filter-item okazja
    .product-categories
        .category-1
            .container
                .row
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
        .category-2
            .container
                .row
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
        .category-3
            .container
                .row
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
        .category-4
            .container
                .row
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
        .category-5
            .container
                .row
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
        .category-6
            .container
                .row
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-1.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów
                    div(class='col-12 col-sm-6 col-md-4 col-lg-3')
                        .product-item
                            .product-cost 55zl
                            .product-label top
                            .product-image
                                img(src='images/image-product-2.jpg' alt='product')
                            h3 ŚWINKA PEPPA
                            button.product-to-preview Zobacz
                            button.ptoduct-to-order Zamów