section.reviews
    .container
        .row
            .col-12
                h2 Opinie
        .row
            div(class='col-12')
                .slider-wrapper
                    .slider-reviews
                        .slide
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec.
                            .review-name Anna
                            include ../modules/rate
                        .slide
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            .review-name Robert
                            include ../modules/rate
                        .slide
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                            .review-name Anna
                            include ../modules/rate
                        .slide
                            p Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                            .review-name George
                            include ../modules/rate
        .row
            include ../modules/discount