section(class='top-main top-thanks' id='scene' data-origin-x="0.2")
    h1(data-depth="0.05")
        != 'Dziękujemy za <br>zamówienie!'
    h4(class='thanks-note' data-depth="0.1") Skontaktujemy się wkrótce w celu potwierdzenia zamówienia
    div(class='decor-cloud' data-depth="0.15")
    div(class='decor-cloud' data-depth="0.1")
    div(class='decor-cloud' data-depth="0.1")
    div(class='decor-baloons' data-depth="0.15")
    div(class='decor-clouds-bottom' data-depth="0.15")