section(class='top-main text-center' id='scene' data-origin-x="0.2")
    h1(data-depth="0.05")
        != 'Balony z dostawą <br> w Warszwie'
    div(class='decor-cloud' data-depth="0.15")
    div(class='decor-cloud' data-depth="0.1")
    div(class='decor-cloud' data-depth="0.1")
    div(class='decor-baloons' data-depth="0.15")
    div(class='decor-clouds-bottom' data-depth="0.05")