section(class='top-main top-thanks' id='scene' data-origin-x="0.2")
    h1
        != 'Dziękujemy za <br>zamówienie!'
    h4(class='thanks-note') Skontaktujemy się wkrótce w celu potwierdzenia zamówienia
    div(class='decor-cloud' data-depth="0.3")
    div(class='decor-cloud' data-depth="0.2")
    div(class='decor-cloud' data-depth="0.2")
    div(class='decor-baloons' data-depth="0.25")
    div(class='decor-clouds-bottom')