section(class='top-short' id='scene' data-origin-x="0.2")
    h1
        != 'Balony z dostawą <br> w Warszawie'
    div(class='decor-cloud' data-depth="0.3")
    div(class='decor-cloud' data-depth="0.2")
    div(class='decor-cloud' data-depth="0.2")
    div(class='decor-baloons' data-depth="0.25")
    div(class='decor-clouds-bottom')